// Navigation
nav#mainNav.navbar.navbar-default.navbar-custom.navbar-fixed-top
  .container
    // Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        |  Menu 
        i.fa.fa-bars
      a.navbar-brand.page-scroll(href='#page-top') Start Bootstrap
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.hidden
          a(href='#page-top')
        if !user
          li
            a.page-scroll(href='/login') Login
        else
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src='#{user.profile.picture}')
              else
                img(src='#{user.gravatar(30)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout
    // /.navbar-collapse
  // /.container-fluid
// Header