extends layout

block content
	header
		.container
			.intro-text
				.intro-lead-in	Welcome To Rhime!
				.intro-heading	Improve your reading
				a.page-scroll.btn.btn-xl(href='#services')	Get Started with Email