extends layout

block content
	header
		.container
			.intro-text
				.intro-lead-in	Improve your reading habits in real time.
				p.lead Just connect your Pocket account to analyse and enhance your reading hygiene.
				a.page-scroll.btn.btn-xl(href='/signup')	Get Started with Email