extends layout

block content
  
  .text-center
    h1 Rhime
    p.lead Improve your reading habits. Get insights on your reading speed trends, debt accumulated and topics generally covered.
  

  hr
  br
  .text-center
    h1 Getting started

    h3 Step 1
    p.lead Create a account using google/facebook/email with us.


    h3 Step 2 
    p.lead Connect your pocket account.
  

    h3 You are Ready!

    