extends layout

block content
  .container.top-buffer-100
    // Example row of columns
    .row.text-center
        p There are 3 simple steps to get started. 
    .row
      .col-md-4      	
        h4 
        i.fa.fa-user-plus.fa-2x
        |Create an account.
      .col-md-4      
        h4 
        i.fa.fa-get-pocket.fa-2x
        | Connect your pocket account.
      .col-md-4
        h4 
        i.fa.fa-bar-chart.fa-2x(aria-hidden=true)
        | Enjoy your sorted list of articles
