.top-buffer {
	padding-top: 20px;
}

.top-buffer-100 {
	padding-top: 100px;
}
.r-dashboard-header input {
	padding: 10px;
}

body{
	font-family: 'Hind Guntur', sans-serif !important;
	padding-top : 70px;

}